<ion-view title="Home" id="page1" style="background-color:default;">
    <ion-content padding="true" class="has-header">
        <div id="home-markdown1" style="color:#000000;font-size:20px;text-align:center;">
            <p>Welcome, Sam</p>
        </div>
        <a ui-sref="menu.myServices" id="home-button6" style="text-align:left;" class="button button-positive button-large button-block icon-right ion-chevron-right">My Services</a>
        <a ui-sref="menu.discover" id="home-button7" style="text-align:left;" class="button button-positive button-large button-block icon-right ion-chevron-right">Discover</a>
        <button ng-click="scan()" id="home-button1" style="text-align:left;" class="button button-positive button-large button-block icon-right ion-chevron-right">Scan QR Code</button>
        <a ui-sref="menu.settings" id="home-button8" style="text-align:left;" class="button button-positive button-large button-block icon-right ion-chevron-right">Settings</a>
    </ion-content>
</ion-view>
