<ion-view title="Discover" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Address Change</h2>
                <p style="white-space:normal;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar, tellus nec auctor sagittis, metus nisl pretium dui, lacinia efficitur leo ipsum facilisis nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
                    sed sodales lorem. Nunc egestas dolor non lacus scelerisque ullamcorper. Nullam eget ultrices magna, nec auctor sem.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Fishing License</h2>
                <p style="white-space:normal;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar, tellus nec auctor sagittis, metus nisl pretium dui, lacinia efficitur leo ipsum facilisis nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
                    sed sodales lorem. Nunc egestas dolor non lacus scelerisque ullamcorper. Nullam eget ultrices magna, nec auctor sem.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>BC Parks Reservation</h2>
                <p style="white-space:normal;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar, tellus nec auctor sagittis, metus nisl pretium dui, lacinia efficitur leo ipsum facilisis nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
                    sed sodales lorem. Nunc egestas dolor non lacus scelerisque ullamcorper. Nullam eget ultrices magna, nec auctor sem.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>